## Secret keys for local development.
## These keys are used in specific functions, but should not be checked into github.
## DO NOT CHECK INTO GITHUB UNDER ANY CIRCUMSTANCES
##

export SHOPIFY_GITHUB_TOKEN=''
export SHOPIFY_GITHUB_CHECKOUT_V2=''
export SLACK_TOKEN=''
export GITHUB_ACCESS_TOKEN=''
export SHOPIFY_MASTER_BUILD_STATUS=''
export GITHUB_TOKEN_CI_STATUS=''
